@font-face {
    font-family: "poppinsregular";
    src: url("../assets/Poppins-web/poppins-regular-webfont.woff2") format("woff2"),
         url("../assets/Poppins-web/poppins-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: "poppinsregular", sans-serif;
    width: 100vw;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    width: 100vw;
    padding-bottom: 30px;
    padding-top: 30px;
}

section#presentation {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

section#title {
    color: #FFFFFF;
    width: 300px;
}

section#title * {
    margin-bottom: 10px;
}

h1 {
    font-size: 4rem;
}

article#techs img {
    background-color: rgba(200,180,255, 0.5);
    background: linear-gradient(to top, rgba(200, 180, 255, 0.2), rgba(200, 180, 255, 0.3),  rgba(200, 180, 255, 0.2));
    border-radius: 5px;
    width: 40px;
    padding: 4px;
}

.small-break {
    display: none;
}

/* Shrink presentation if window is too narrow  */
@media (max-width: 650px) {
    section#presentation img {
        width: 100px;
    }
    section#title {
        width: 210px;
    }
    h1 {
        font-size: 3rem;
    }
}

/* Shrink presentation text if window is even narrower */
@media (max-width: 350px) {
    section#title {
        width: 135px;
    }
    h1 {
        font-size: 2rem;
    }
}

/* Shrink tech list block if window is too narrow  */
@media (max-width: 500px) {
    .small-break {
        display: block;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, .9);
    color: #FFFFFF;
    width: 100vw;
    padding-top: 75px;
    padding-bottom: 50px;
}

article#description {
    padding: 0px 30px;
    text-align: justify;
    max-width: 800px;
}

div#interests {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}

/* Display single column list if window is too narrow  */
@media (max-width: 600px) {
    div#interests {
        display: block;
        text-align: left;
    }
}

div#interests ul li {
    padding-bottom: 10px;
}

article#socials a {
    display: block;
    color:  #FFFFFF;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 1rem;
}

article#socials a i {
    margin-right: 5px;
    font-size: 2rem;
}

/* Background shader */

.bgcontainer {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -100;
}

.bgcontainer canvas {
    width: 100vw;
    height: 100vh;
}
